@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}

body{
	overflow:hidden;
	height:100%;
	font:"Times New Roman", Times, serif;
}



/* Preloader */
#preloader {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff; /* change if the mask should have another color then white */
	z-index:99999; /*makes sure it stays on top */
}


#status {
	width:200px;
	height:200px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-image:url(../images/status.gif); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
}


#Main{
	margin:auto 0;
	position: relative;
	height:100%;
	
}

#playListThumb
{
	position:relative;
	float:right;
}

li
{
    float: left;
  	position:absolute;
	width:15%;
	min-height:30px;
	list-style-type: none;
	color:#F00;
	
}
li img
{
	border : 1px solid #FFF;
}

#videoDetails
{
	/*background: none repeat scroll 0 0 #000000;*/
    color: #FFFFFF;
    float: left;
    margin-top: 25%;
    min-height: 150px;
    overflow: hidden;
    position: absolute;
    width: 1%;
	
	background: rgba(0, 0, 0, 0.6);	
	<!--[if IE]>
	  background:transparent;
	  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#90000000);
	<![endif]-->
}

#videoTitle{
	width:60%;
	margin-left:20px;
	margin-top:15px;
	font-size:25px;
	margin-bottom:20px;
}

#videoDescription{
	width:60%;
	margin-left:20px;
	
}

#videoPlayer{
	width:100%;
	height:100%;
	position: fixed;
	
	/*position:absolute;
		visibility:hidden;
	display:none;
	z-index:9999;
	*/
	background: rgba(0, 0, 0, 0.5);	
	<!--[if IE]>
	  background:transparent;
	  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	<![endif]-->
	
}

#Player{
	position: absolute;	
}



#close{
	float:right;
	cursor:pointer;
	margin-left: 96%;
	z-index: 30000;
	position:absolute;
}